# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependency directories
/node_modules
/dist
/dist-out
/e2e/*.js
/tmp

# Environment files
/src/environments/*.js

# Compiled output
/dist

# Logs
/logs
*.log

# IDE files
/.idea
/.vscode

# System files
.DS_Store
Thumbs.db
